body {
    font-family: Arial, sans-serif;
    background-color: #414040;
    margin: 0;
    color: aliceblue;
}

header {
    background-color: #134f8b;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: rgb(44, 41, 41);
    margin: 10px;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: red;
}
a:visited {
  color: rgb(7, 218, 7);
}